

</div>
<div class="row">
  <div class="span8">
   
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <small>
            <%= comment.body %>

            
            </small>
          </h4>
        </div>
      </div>
  </div>